{% extends 'BVDSComptaBundle::layout.html.twig' %}

{% block navaux_compta_accueil %}class="active"{% endblock %}

{% block corps %}

<h4>Récapitulatif financier</h4>
<div style="color:red;">TODO : UTILISER LES TRANSACTIONS POUR LE MONTANT INITIAL DES COMPTES. SUPPRESSION DE CE MONTANT IMPOSSIBLE.</div>

{% endblock %}