{# src/BVDS/ImageBundle/Ressources/views/Main/index.html.twig #}

{% extends 'BVDSImageBundle::layout.html.twig' %}

{% block navaux_image_accueil %}class="active"{% endblock %}

{% block corps %}

<h4>Gestionnaire d'images</h4>
<div style="color:red;">Le but de ce bundle est l'implémentation d'un système central de gestion des upload des images a partager entre les bundles.</div>

{% endblock %}