{# src/AppBundle/Ressources/views/Default/index.html.twig #}

{% extends '::app_layout.html.twig' %}

{% block corps %}
	<p>Bienvenue sur le site de gestion centrale de BVDS.</p>
	<p>Ce site est privé.</p>
{% endblock %}
